<body>

<link rel="stylesheet" type="text/css" href= "application.css">

<h1> Concert Platform !!! </h1>
<% @concerts.each do |concert|%>
    <div><%= concert.band_name %> 
    <%= link_to 'Show',  concert_path(concert)%>
	 <%= link_to 'Destroy', concert_path(concert), method: :delete, data: { confirm: 'Are you sure?' } %>
	 </div>

<% end %>

<p>
    <%= link_to 'New concert', new_concert_path %>
</p>
</body>